.container {
  padding-top: 20px;
}

input {
  width: 15%;
  height: 20px;
}

.custom-label {
  display: inline-block;
  width: 8%;
  padding-bottom: 15px;
}

.input-submit {
  width: 100px;
  height: 30px;
  margin-left: 8%;
  font-weight: bold;
}
